<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
<link rel="stylesheet" href="/css/dashboard.css">
<h1>Dashboard</h1>
<h5>Welcome <%- name %></h5>
<%- include('./partials/messages') %><br>
<a href="/post">Post</a>&nbsp;&nbsp;&nbsp;<a href="/profile">Profile</a>&nbsp;&nbsp;&nbsp;<a href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;<a href="/leaderboard">Leaderboard</a>
<% if(webd_posts.length == 0) { %> 
  <% } else { %> 
    <br><br>
    <h3>Web Development</h3><br>
<% }%>
<div class="row">
    <% if(webd_posts.length == 0) { %> 
    <% } %>
    <% for (let i = 0; i < webd_posts.length; i++) { %>
      <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><%- webd_posts[i].message %></p>
              <a target="_blank" href="<%- webd_posts[i].portfolio_link %>" class="btn btn-primary">Portfolio Link</a>
              <button style="margin-left: 40px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%- webd_posts[i].id %>" >Rate</button>
            </div>
        </div>
      </div>
      <div class="modal fade" id="<%- webd_posts[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Rate the Portfolio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/rate" method="POST">
                <input type="hidden" name="post_id" value="<%- webd_posts[i].id %>">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Value (in ₹)</label>
                  <input type="text" name="value" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Level of difficulty</label>
                  <select name="levels" id="inputState" class="form-control">
                    <option selected value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Expert">Expert</option>
                  </select>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
</div>
<% if(design_posts.length == 0) { %> 
  <% } else { %> 
    <br><br>
    <h3>Design</h3><br>
<% }%>
<div class="row">
  <% if(design_posts.length == 0) { %> 
    <% } %>
    <% for (let i = 0; i < design_posts.length; i++) { %>
      <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><%- design_posts[i].message %></p>
              <a target="_blank" href="<%- design_posts[i].portfolio_link %>" class="btn btn-primary">Portfolio Link</a>
              <button style="margin-left: 40px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%- design_posts[i].id %>" >Rate</button>
            </div>
        </div>
      </div>
      <div class="modal fade" id="<%- design_posts[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Rate the Portfolio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/rate" method="POST">
                <input type="hidden" name="post_id" value="<%- design_posts[i].id %>">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Value (in ₹)</label>
                  <input type="text" name="value" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Level of difficulty</label>
                  <select name="levels" id="inputState" class="form-control">
                    <option selected value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Expert">Expert</option>
                  </select>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
</div>
<% if(appd_posts.length == 0) { %> 
  <% } else { %> 
    <br><br>
    <h3>App Development</h3><br>
<% }%>
<div class="row">
  <% if(appd_posts.length == 0) { %> 
    <% } %>
    <% for (let i = 0; i < appd_posts.length; i++) { %>
      <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><%- appd_posts[i].message %></p>
              <a target="_blank" href="<%- appd_posts[i].portfolio_link %>" class="btn btn-primary">Portfolio Link</a>
              <button style="margin-left: 40px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%- appd_posts[i].id %>" >Rate</button>
            </div>
        </div>
      </div>
      <div class="modal fade" id="<%- appd_posts[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Rate the Portfolio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/rate" method="POST">
                <input type="hidden" name="post_id" value="<%- appd_posts[i].id %>">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Value (in ₹)</label>
                  <input type="text" name="value" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Level of difficulty</label>
                  <select name="levels" id="inputState" class="form-control">
                    <option selected value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Expert">Expert</option>
                  </select>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
</div>
<% if(ui_posts.length == 0) { %> 
  <% } else { %> 
    <br><br>
    <h3>UI/UX Design</h3><br>
<% }%>
<div class="row">
  <% if(ui_posts.length == 0) { %> 
    <% } %>
    <% for (let i = 0; i < ui_posts.length; i++) { %>
      <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><%- ui_posts[i].message %></p>
              <a target="_blank" href="<%- ui_posts[i].portfolio_link %>" class="btn btn-primary">Portfolio Link</a>
              <button style="margin-left: 40px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%- ui_posts[i].id %>" >Rate</button>
            </div>
        </div>
      </div>
      <div class="modal fade" id="<%- ui_posts[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Rate the Portfolio</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/rate" method="POST">
                <input type="hidden" name="post_id" value="<%- ui_posts[i].id %>">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Value (in ₹)</label>
                  <input type="text" name="value" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Level of difficulty</label>
                  <select name="levels" id="inputState" class="form-control">
                    <option selected value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Expert">Expert</option>
                  </select>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
</div>
<br><br>
<a href="/logout">Logout</a><br><br>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>