<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
<link rel="stylesheet" href="/css/dashboard.css">
<nav class="navbar">
  <img class="logo" src="https://cdn.discordapp.com/attachments/745141823210782720/749743996519317594/Group_65.png">
  <a class="nav-item" href="/dashboard">Dashboard</a>
  <a class="nav-item" href="/leaderboard">Leaderboard</a>
  <a class="nav-item" href="/profile">Profile</a>
  <a href="/post"><button>Post</button></a>
</nav>
<div class="card-grid">
  <div class="card" style="height: 448px;">
    <h2>Message</h2><br>
    <p><%- post.message %></p>
    <h2>Portfolio</h2><br>
    <p>Please review my portfolio at<br> <%- post.portfolio_link %></p>
    <h2>Reviewers</h2><br>
    <p><%- post.reviewers %> reviewed your portfolio.</p>
    <h2>Value</h2><br>
    <p>The average of all the values given by <%- post.reviewers %> users is <span style="color:black"><%- avg_value %></span> </p>
    <div class="bottom" style="margin-top: 0px;width:348px;"> 
      <a target="_blank" href="<%- post.portfolio_link %>"><button style="margin-left:80px">Review</button></a>
    </div>
  </div>
</div>

