<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend Deca">
<link rel="stylesheet" href="/css/results.css">
<head>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
</head>
<div class="card-grid">
  <div class="inline">
    <div class="card" style="height: 452px;">
      <h2>Message</h2>
      <p><%- post.message %></p>
      <h2>Portfolio</h2>
      <p>Please review my portfolio at<br> <a style="text-decoration: none;color: #a3a3a3" href="<%- post.portfolio_link %>"><%- post.portfolio_link %></p></a>
      <h2>Category</h2>
      <p><%- post.category %></p>
      <h2>Reviewers</h2>
      <p><%- post.reviewers %> reviewed your portfolio.</p>
      <h2>Value</h2>
      <p>Your hourly rate given by <%- post.reviewers %> users is <span style="color:black"> $<%- rating %>/hr</span></p>
      <div class="bottom" style="margin-top: 0px"> 
        <a target="_blank" href="<%- post.portfolio_link %>"><button style="margin-left:90px">Review</button></a>
      </div>
    </div>
    <div class="feedback-card" style="height: 452px;">
      <h2>Recommendations</h2>
      <hr>
      <% for (let i = 0; i < feedback_messages.length; i++) { %> 
        <p><%- feedback_messages[i].recommendation %></p>
        <hr>
      <% } %>
    </div>
  </div>
</div>
<div id="container" style="width: 800px; height: 400px;margin-left:300px;margin-top: 100px;border-style: solid;border-color: black;color: black"></div><br><br><br>
<script>
  anychart.onDocumentReady(function() {
    var data = [ { x: 10, value: 4 }, { x: 23, value: 1 }, { x: 32, value: 1 },{ x: 20, value: 2 },{ x: 40, value: 7 } ];
  	var chart = anychart.scatter();
  	var series = chart.marker(data);
    chart.xGrid(true);
    chart.yGrid(true);
    chart.xMinorGrid(true);
    chart.yMinorGrid(true);
  	chart.title("Scatterplot graph of your hourly rate frequencies");
  	chart.container("container");
  	chart.draw();
  });
</script> 
